{{! <div>
  <ul>
    <li>
      <a href="http://localhost:9090/">Home</a>
    </li>
    <li>
      <a href="http://localhost:9090/postblog">Post Blog</a>
    </li>
    <li>
      <a href="http://localhost:9090/allblogs">Blogs</a>
    </li>
  </ul>
</div> 
}}

{{!-- <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Book Face</a>
</nav>

<div class="posts">
  <div class="row justify-content-center">
    <div class="col-lg-7" style="margin-top: 50px;">
      <div class="card">

        <img
          src="https://picsum.photos/500/500"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Posted by Janith Kasun</h5>

          <ul class="list-group">
            <li class="list-group-item">This is supposed to be a comment</li>
            <li class="list-group-item">This is supposed to be a comment</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> --}}

   
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="http://localhost:9090/">Tech Savvy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item{{#if home}} active{{/if}}">
        <a class="nav-link" href="http://localhost:9090/allblogs">Home</a>
      </li>
      <li class="nav-item{{#if about}} active{{/if}}">
        <a class="nav-link" href="http://localhost:9090/postblog">Upload a Blog</a>
      </li>
    </ul>
  </div>
</nav>