<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="http://localhost:9090/">Tech Savvy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item{{#if home}} active{{/if}}">
        <a class="nav-link" href="http://localhost:9090/allblogs">Home</a>
      </li>
      <li class="nav-item{{#if about}} active{{/if}}">
        <a class="nav-link" href="http://localhost:9090/postblog">Upload a Blog</a>
      </li>
    </ul>
  </div>
</nav>