<div class+"container">

  <h1>all blogs will go here</h1>


  <ul>
    {{#each blogs}}
      <li>{{this.content}}
          <form action="/blog" method="POST">
        <input type="hidden" name="title" value={{this.title}} />
        <button type="submit">Submit</button>
        </form>

      {{!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src=".../100px180/" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div> --}}
</div>
      </li>
    {{else}}
    <div>
        <p>Sorry we are having trouble getting your blogs</p>
    </div>
    {{/each}}
  </ul>
 
</div>