<style>
  body { background:
  url('https://www.londontoolkit.com/blog/wp-content/uploads/2018/04/tower-bridge-lift-2.jpg')
  no-repeat center center fixed; -webkit-background-size: cover;
  -moz-background-size: cover; background-size: cover; -o-background-size:
  cover; } h1 { color: aliceblue; margin-top: 20%; font-size: 100px;
  background-color: rgba(117, 115, 115, 0.404); background-op}

</style>

<body>
  <h1 class="text-center">Welcome to the Tech Savvy Blog</h1>
</body>