<div>
  <h3>Welcome to the tech Blog</h3>
  <p>Here we talk about all the new things going on in the tech world</p>

  <div>
    <form action="/postblog" method="POST">
      <legend>Blog upload your blog here</legend>
      <div>
        <label for="title">Please enter blog title</label>
        <input type="text" name="title" placeholder="Blog title*" />
      </div>
      <div>
        <label for="content">Please enter blog content</label>
        <input type="text" name="content" placeholder="Blog content*" />
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>